<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj korisnika</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Dodajte novog korisnika</h1>
    <% if (error) { %>
        <p style="color: red;">
            <%=error %>
        </p>
        <% } %>

            <form action="/add-user" method="POST">
                <label for="firstName">Ime:</label>
                <input type="text" name="firstName" id="firstName" required> <!--newUser.firstName-->

                <label for="lastName">Prezime:</label>
                <input type="text" name="lastName" id="lastName" required>

                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>

                <button type="submit">Dodaj korisnika</button>
            </form>
            <a href="/">Vrati se na početnu</a>
</body>

</html>