<!DOCTYPE html>
<html>

<head>
    <title>Blog Statistics</title>
</head>

<body>
    <h1>Blog Statistics</h1>
    <form action="/statistics" method="POST">
        <label>
            <input type="checkbox" name="postsCount" value="postsCount"> Koliko koji blog ima postova
        </label><br>
        <label>
            <input type="checkbox" name="blogsCount" value="blogsCount"> Koliko ima blogova
        </label><br>
        <button type="submit">Submit</button>
    </form>

    <div id="results">
        <% if (postsCount && postsCount.length> 0) { %>
            <h2>Broj postova po blogu:</h2>
            <% postsCount.forEach(blog=> { %>
                <p>
                    <%= blog.title %>: <%= blog.postsCount %> postova
                </p>
                <% }); %>
                    <% } %>

                        <% if (blogsCount !==undefined) { %>
                            <h2>Ukupan broj blogova: <%= blogsCount %>
                            </h2>
                            <% } %>
    </div>
</body>

</html>