<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepti</title>
</head>

<body>
    <h1>Dobro došli na sajt za unos recepata</h1>
    <ul>
        <li><a href="/add-recipe">Dodaj novi recept</a></li>
        <li><a href="/recipes">Svi recepti</a></li>
    </ul>
</body>

</html>